body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

img {
    width: 50%;
    max-width: 364px;
    margin: 20px;
    border-radius: 10px;
}

a {
    color: #000;
    text-decoration: none;
}
